tensorflow==2.4.0
tf-models-official==2.4.0
ml_collections>=0.1.0
apache-beam==2.20.0
apache-beam[test]==2.20.0
google-nucleus==0.5.8
absl-py>=0.13.0
wheel>=0.36
numpy>=1.19
pandas>=1.1
setuptools>=49.6.0
